body {
    display: grid;
    grid-template-rows: 150px 50px;
    grid-template-columns: 70% 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        ". footer";
    background: antiquewhite;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16pt;
}

nav > ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

nav > ul > li {
    display: inline-block;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}